#subAnchorPane1{
    -fx-background-color: #3C3939;
}
#subAnchorPane2,#signupMainPane{
    -fx-background-color: #FAF3F3;
}
#mainSubAnchorPane{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}
.round-corner{
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}
.round-button-black{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #3B3939;
    -fx-text-fill: white;
    -fx-font-style: bold;
    -fx-font-weight: 5px;
    -fx-cursor: hand;
}
.round-button-black:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(156, 231, 212, 0.8), 10, 0.8, 0, 0);
}
.round-button-black:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(29, 181, 249, 0.8), 10, 0.8, 0, 0);
}

.login-page-welcome-heading {
    -fx-font-weight: bold;
    -fx-font-family: "times new roman", Times, serif;;
}

.login-page-heading {
    -fx-font-family: "times new roman", Times, serif;;
}

.view-hide-button {
    -fx-cursor: hand;
}